# The big folder with 500+ MB of TXT data files
potassium_ratios/lists

# The output file for potassium ratios
potassium_ratios/potassium.out

# Compiled C executables
burn_query
cco2-SDF-reader
entropy
SDF-reader
unburned
cco2-unburned
update_yields

# PYC files
*.pyc

# Output histograms and text from the Fe/Ti stats analysis
fe_ti_stats/*.png
fe_ti_stats/stats.out

